<nav class="navbar navbar-expand-md navbar-success fixed-top bg-dark">
  <!-- iletişim formunun olduğu sayfa burası, nelerin gösterileceğini, fonksiyonların işleyişlerinin görüntülerini burada gösterdim -->

    <div class="collapse navbar-collapse" id="navbarCollapse">
      
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
        <a class="navbar-brand" href="{% url 'index' %}">Tech-career</a></li>
        
        <li class="nav-item">
          
          <a class="navbar-brand" href="{% url 'about' %}">About</a></li>

          <li class="nav-item">
          
            <a class="navbar-brand" href="/contact/">Get Contact</a></li>

      </ul>
      
      <ul class="navbar-nav mr-end">

      <li>

        <a class="btn btn-outline-success my-sm-0 mr-sm-1" href="/userinfo/register">Register</a>
        <a class="btn btn-outline-success  my-sm-0" href="/userinfo/login">Login</a>

        
      </li>
    </ul>

    </div>
  </nav>