{%extends "layout.html"%}


{%block body%}



<h3>Umut Aygul</h3>
<hr>

<p>

    Merhaba arkadaşlar,
    Ben Eskisehir Osmangazi universitesi elektrik elektronik mühendisliğinden
    bu sene mezun oldum. İlgim senenin başından beri yazılıma kaydı ve kendimi
    bu alanda durmaksızın geliştirmeye başladım. Tam olarak spesifik bir alanına henüz yönelmedim
    fakat karşıma çıkan tüm eğitimlerle, çevremden duyduğum yazılım sektörüne
    dahil tüm alanları duyarak, araştırarak bilgiler toplamaktayım.
    Iki bootcamp'e girdim ve ikinci bootcamp'in ödevi olan Django aracılığı 
    şuan beni tanımaktasınız. Bu bootcamp python'un web framework'u aracılığıyla
    ufak bir web sitesi tamamlamak ve şuan onun üzerinde çalışıyorum.
    Ilk bitirdiğim bootcamp ise Gtech'in finansal çözümler akademisiydi.
    Iki haftada bize bir çok konu hakkında bilgi verdiler ve kullandıkları bir çok
    program hakkında bilgi sahibi oldum ve açıkçası kullanmaya da başladım.
    Şuanda da 3. bootcamp olarak global hub'ın yapay zeka kampındayım.
    Python ile derin öğrenme, ml ve yapak zeka konusunda bir eğitim olacak.
    Bu bootcampler sonrasında, hala bir kariyere sahip olmazsam full-stack üzerine yönelmeyi
    ve temel konuları bitirmeyi planlıyorum. Sektör çok geniş, ve aslında aralarında ilk önceliğim
    finansal çözümler alanında ilerlemek olurdu. Çünkü aslında tüm firmaların, bütün sektörlerin ihtiyacı olan
    finans konusu hakkında bilgi sahibi olacağımı düşünüyorum. Paranın nasıl işlediğini, nasıl yönetildiğini,
    biliyor anlıyor olmak, parayı nasıl kullanılacağını, yönetileceğini biliyor olmak beni heyecanlandırıyor.
    Aynı şekilde tabii ki bunların hepsinin bir arayüz sayesinde sağlandığını ve bu arayüzü geliştirmemde katkım olacağımı düşünmek
    verileri işlemek ve yönetmek benim ilgimi fazlasıyla çekti. Aynı şekilde aslında arayüz geliştirme demişken, geliştirilen uygulamaları test etmek
    eksikliklerini ya da sorunlarını bularak, bunları düzeltmeye çalışmak tam benlik bir iş. Çünkü ben eksiklikleri bulmayı seven, çoğu konuda
    mükemmeliyete yaklaşmaya çalışan ve bunun için çaba gösteren birisiyim.
    <strong>Martin Luther King diyor ki: "eğer sizden sokakları süpürmeniz istenirse, michelangelo'nun resim yaptığı, beethoven'ın beste yaptığı veya shakespeare'in şiir yazdığı gibi süpürün. o kadar güzel süpürün ki gökteki ve yerdeki herkes durup 'burada işini çok iyi yapan biri, dünyanın en iyi çöpçüsü yaşıyormuş.' desin" 
    </strong> ve evet bu cümle aslında beni çok iyi özetliyor.
    Neyse kankiler başınızı şişirmeyim, çalışkan ve disiplinli olmayı seçen, sürekli kendini geliştirmeye açık olan bir mühendislik bireyiyim.
    Araştırmayı seviyorum ve aradığımı bulana kadar şansımı denerim. Şansımı denerim derken, bunu yapmayı çok severim hemen hemen her konuda ağız yoklamak gibi düşünülecek tarzdan
    şansımı sürekli denerim ve red yemekten hiç çekinmem. Bunu yaparken de ortama çok alışık değilsem, asla dozajını kaçırmam bu deneme olayında yanlış anlamayın:)
    <br>
    Her neyse, 5 yıl sonra nerede olurum hiç bir fikrim yok aslında fakat ben şundan eminim, kendimi ilgilendiğim alanda oldukça yetiştirmiş, her zaman ulaşacak yeni bir hedefi olan,
    halen kendini geliştiren ve hayalini kurduğum hayatı yaşamaya başlamış olan huzurlu bir birey olacağım.
    <br>
    Her neyse dediğim hali böyle :D, buraya kadar okuduysan bir geri dönüş yapmanı çok isterim. Mail hesabımdan "uumutaygul@gmail.com" bana ulaşabilirsiniz, kesinlikle dönüş yapıyor olacağım.
    Yakın arkadaşlarımdan aptalca dönüşler almama umuduyla :).
    <h3>İyi çalışmalar dilerim</h3>
    <br>
    <h3>Umut Aygul</h3>
    


    
</p>
{%endblock body%}
