{%extends "layout.html"%}
<!-- iletişim formunun olduğu sayfa burası, nelerin gösterileceğini, fonksiyonların işleyişlerinin görüntülerini burada gösterdim -->

{%block body%}



<h3>Umut Aygul</h3>
<hr>

<p>

    Merhaba,
    Ben Eskisehir Osmangazi universitesi elektrik elektronik mühendisliğinden
    bu sene mezun oldum. İlgim senenin başından beri yazılıma kaydı ve kendimi
    bu alanda durmaksızın geliştirmeye başladım. Tam olarak spesifik bir alanına henüz yönelmedim
    fakat karşıma çıkan tüm eğitimleri değerlendirmeye çalışıyorum. Yoksa ise kurslardan yararlanıyorum.
    Iki bootcamp'e girdim ve ikinci bootcamp'in ödevi olan Django aracılığı 
    şuan beni tanımaktasınız. Bu bootcamp Python'un web framework'u olan Django'yu tanımak
    ve şuan onun üzerinde çalışıyorum.
    Ilk bitirdiğim bootcamp ise Gtech'in finansal çözümler akademisiydi.
    Iki haftada bize bir çok konu hakkında bilgi verdiler ve kullandıkları bir çok
    program hakkında bilgi sahibi oldum ve açıkçası kullanmaya da başladım.
    Şuanda da 3. bootcamp olarak Global Hub'ın yapay zeka kampındayım.
    Python'da derin öğrenme, ML ve AI konusunda bir eğitim olacak.
    <p>
    Bu bootcampler sonrasında, hala bir kariyere sahip olmazsam full-stack üzerine yönelmeyi
    ve temel konuları bitirmeyi planlıyorum. Sektör çok geniş, ve aslında aralarında ilk önceliğim
    finansal çözümler alanında ilerlemek olurdu. Böylelikle tüm firmaların, bütün sektörlerin ihtiyacı olan
    finans konusu hakkında bilgi sahibi olurum. Paranın nasıl işlendiğini, nasıl yönetildiğini,
    biliyor anlıyor olmayı bu konuya hakim olmayı isterim.
    Aynı şekilde tabii ki bunların hepsinin bir arayüz sayesinde sağlandığını ve bu arayüzü geliştirmemde katkımın olacağını düşünmek,
    verileri işlemek ve yönetmek benim ilgimi fazlasıyla çekti. Aslında arayüz geliştirme demişken, geliştirilen uygulamaları test etmek
    eksikliklerini ya da sorunlarını bularak, bunları düzeltmeye çalışmak tam benlik bir iş. Çünkü ben eksiklikleri bulmayı seven, çoğu konuda
    mükemmeliyete yaklaşmaya çalışan ve bunun için çaba gösteren birisiyim.
    <i>Martin Luther King diyor ki: "eğer sizden sokakları süpürmeniz istenirse, michelangelo'nun resim yaptığı, beethoven'ın beste yaptığı veya shakespeare'in şiir yazdığı gibi süpürün. o kadar güzel süpürün ki gökteki ve yerdeki herkes durup 'burada işini çok iyi yapan biri, dünyanın en iyi çöpçüsü yaşıyormuş.' desin" 
    </i> ve evet bu cümle aslında beni çok iyi özetliyor.
</p>
<p>
    Kendime gelecek olunca çalışkan ve disiplinli olmayı seçen, sürekli kendini geliştirmeye açık olan mühendislik kişisiyim.
    Araştırmayı seviyorum ve aradığımı bulana kadar durmam, şansımı hep denerim. Şansımı denerim derken, bunu yapmayı çok severim hemen hemen her konuda ağız yoklamak gibi düşünülecek tarzdan
    şansımı sürekli denerim ve ret yemekten hiç çekinmem. Bunu yaparken de ortama çok alışık değilsem, dozajını da kaçırmamaya çalışırım,yanlış anlamayın:)
    <br>
    Her neyse, 5 yıl sonra nerede olurum hiç bir fikrim yok aslında fakat şundan eminim, kendimi ilgilendiğim alanda oldukça yetiştirmiş, her zaman ulaşacak yeni bir hedefi olan,
    sürekli kendini geliştiren ve hayalini kurduğum hayatı yaşamaya başlamış olacağım.
    <br>
    Her neyse dediğim hali böyle yazmayı sevdim bir anda haha. Buraya kadar okuduysan bir geri dönüş yapmanı çok isterim. Mail hesabımdan "uumutaygul@gmail.com" bana ulaşabilirsiniz, 
    kesinlikle dönüş yapıyor olacağım.
</p>
    <h3>İyi çalışmalar dilerim</h3>
    <br>
    <h3>Umut Aygul</h3>
    


    
</p>
{%endblock body%}
