{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
    <h3>Merhaba arkadaşlar kanalıma hoş geldiniz</h3>
    <h3>Bugün, sizlerle birlikte django öğreneceğiz</h3>
    <h3>:D?</h3>
    <p>:)</p>
</div>

{% if number1 == 10 %}
 <p> Sayımız 20'ye eşit </p>

{% else %}
 <p> Sayımız 20'ye eşit değil </p>
 <p> Ama oluşturduğun liste burada, hadi elemanlarına bakalım </p>
 <p> :D? </p>
{% endif %}
<ul>
{% for number in numbers %}

    <li>the number is : {{number}}</li>
{% endfor %}
</ul>



{% endblock body %}

